body{
    margin: 0%;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';

    background-color: var(--color-fondo-body);
}

/* ------------------------------------------ */

header{
    background-color: var(--color-fondo);

}

#container-header{
    height: 5vh;
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#container-header a{
    color: var(--color-letras);

    padding: 15px;
    text-decoration: none;
}

#header-btn{
    background-color: var(--bg-fondo-btn);
    color: var(--color-letras-btn);

    border-style: none;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 25px;
    margin-left: 20px;
}

#header-btn:hover{
    background-color: var(--bg-fondo-btn-hover);
    color: var(--color-letras-btn-hover);
    cursor: pointer;
}

#container-header a:hover{
    border-bottom: 3px solid var(--bg-fondo-hover);
}

/* ------------------------------------------ */

nav{
    background-color: var(--color-fondo);

    height: 85vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

#container-nav{
    /* background-color: darkred; */
    padding: 10px;
    border-radius: 10px;

    display: grid;
    width: 60%;
    grid-template-columns: 1fr auto;
}

#nav-icono{
    /* background-color: orange; */

    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-icono i{

    font-size: 100px;
    background-color: #ddd;
    padding: 40px;
    border-radius:100%;
    margin: 10px;
}

#nav-info{
    color: var(--color-letras);
}


/* ------------------------------------------ */

#tecnologias{
    padding: 100px;
    text-align: center;
}

#tecnologias h4{
    font-size: 2rem;
    color: var(--color-letras-items);
}

#div-tecnologias{
    gap: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.container-tecnologias{
    background-color: var(--color-fondo-items);
    color: var(--color-letras-items);
    border-radius: 10px;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
}

.container-tecnologias:hover{
    transform: scale(1.01);
    cursor: pointer;
}

/* ------------------------------------------ */



footer{
    height: 5vh;
    text-align: center;
}

footer h4{
    padding: 10px;
    color: var(--color-letras-items);

}