/* tema1 white*/
:root{
    --color-fondo: rgb(255, 255, 255);
    --color-fondo-body: rgb(0, 0, 0);
    --color-fondo-items: rgb(161, 161, 161);

    --color-letras: rgb(0, 0, 0);
    --color-letras-items: rgb(255, 255, 255);

    --bg-fondo-hover: rgb(0, 0, 0);

    --bg-fondo-btn: rgb(187, 187, 187);
    --color-letras-btn: rgb(0, 0, 0);

    --color-letras-btn-hover: rgb(255, 255, 255);
    --bg-fondo-btn-hover: rgb(0, 0, 0);
}